<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dietClass">
	<select id="seq" resultType="Integer">
		SELECT classes_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertDietClass" parameterType="com.hotbody.dietClass.DietClass">
		INSERT INTO dietClass(classNum, className, classType, classGoal, classGoalD, cllevel, tuition, saveFileName, originalFileName)
		VALUES(
			#{classNum}, #{className}, #{classType}, #{classGoal}, #{classGoalD}, #{cllevel}, #{tuition},
			#{saveFileName, jdbcType=VARCHAR}, 
		    #{originalFileName, jdbcType=VARCHAR}
	    )
	</insert>
	
	<insert id="proToClass" parameterType="com.hotbody.dietClass.DietClass">
		INSERT INTO pinClass(classNum, programNum) 
		VALUES(#{classNum}, #{programNum})
	</insert>
	
	<insert id="insertOn" parameterType="com.hotbody.dietClass.DietClass">
		INSERT INTO onClass(classNum, mento, onperiod)
		VALUES(#{classNum}, #{mento}, #{onperiod})
	</insert>
	
	<insert id="insertOff" parameterType="com.hotbody.dietClass.DietClass">
		INSERT INTO offClass(classNum, location1, location2, startTime, endTime, offLimit, coach, startDate, endDate)
		VALUES(#{classNum}, #{location1}, #{location2}, #{startTime}, #{endTime}, #{offLimit}, #{coach}, 
		TO_DATE(#{startDate},'mm/dd/yyyy'), TO_DATE(#{endDate},'mm/dd/yyyy'))
	</insert>
	
	<select id="listClass" resultType="com.hotbody.dietClass.DietClass" parameterType="map">
		SELECT d.classNum, className, classType, classGoal, classGoalD, cllevel, tuition, saveFileName 
		<if test="classType == 0">
     		,mento, onPeriod 
     		FROM dietClass d
			JOIN onClass o ON d.classNum=o.classNum WHERE classType=0 ORDER BY classNum DESC
     	</if>
     	<if test="classType == 1">
     		,location1, location2, startTime, endTime, offLimit, coach, 
            TO_CHAR(startDate,'YYYYMMDD') startDate, TO_CHAR(endDate,'YYYYMMDD') endDate
			FROM dietClass d
			JOIN offClass o ON d.classNum=o.classNum WHERE classType=1 ORDER BY classNum DESC
     	</if>
	</select>
	
	<select id="listByLevel" parameterType="Integer" resultType="com.hotbody.dietClass.DietClass">
		SELECT d.classNum, className, classType, classGoal, classGoalD, cllevel, tuition, saveFileName 
   		,mento, onPeriod ,location1, location2, startTime, endTime, offLimit, coach, 
          TO_CHAR(startDate,'YYYYMMDD') startDate, TO_CHAR(endDate,'YYYYMMDD') endDate
   		FROM dietClass d
		LEFT OUTER JOIN onClass o ON d.classNum=o.classNum 
		LEFT OUTER JOIN offClass o ON d.classNum=o.classNum
     	WHERE cllevel=#{cllevel}
	</select>
	
	<select id="listByAdmin" resultType="com.hotbody.dietClass.DietClass">
		SELECT d.classNum, className, classType, classGoal, classGoalD, cllevel, tuition, saveFileName 
   		,mento, onPeriod ,location1, location2, startTime, endTime, offLimit, coach, 
          TO_CHAR(startDate,'YYYYMMDD') startDate, TO_CHAR(endDate,'YYYYMMDD') endDate
   		FROM dietClass d
		LEFT OUTER JOIN onClass o ON d.classNum=o.classNum 
		LEFT OUTER JOIN offClass o ON d.classNum=o.classNum
		WHERE classType IN (1,0)
	</select>
	
	<select id="readClass" parameterType="map" resultType="com.hotbody.dietClass.DietClass">
		SELECT d.classNum, className, classType, classGoal, classGoalD, cllevel, tuition, saveFileName, originalFileName
     	<if test="classType == 0">
     		, mento, onperiod
			FROM dietClass d 
			JOIN onClass o ON d.classNum = o.classNum WHERE d.classNum=#{classNum}
     	</if>
		<if test="classType == 1">
     		,location1, location2, startTime, endTime, offLimit, coach, 
            TO_CHAR(startDate,'YYYYMMDD') startDate, TO_CHAR(endDate,'YYYYMMDD') endDate
			FROM dietClass d 
			JOIN offClass o ON d.classNum=o.classNum WHERE d.classNum=#{classNum}
     	</if>
	</select>
	
	<update id="updateClass" parameterType="com.hotbody.dietClass.DietClass">
		UPDATE dietClass SET className=#{className}, classType=#{classType}, classGoal=#{classGoal}, classGoalD=#{classGoalD}, 
		cllevel=#{cllevel}, tuition=#{tuition}, saveFileName=#{saveFileName}, originalFileName=#{originalFileName}
		WHERE classNum=#{classNum}
	</update>
	
	<update id="updateOn" parameterType="com.hotbody.dietClass.DietClass">
		UPDATE onClass SET mento=#{mento}, onperiod=#{onperiod} 
		WHERE classNum=#{classNum}
	</update>
	
	<update id="updateOff" parameterType="com.hotbody.dietClass.DietClass">
		UPDATE offClass SET location1=#{location1}, location2=#{location2}, startTime=#{startTime}, endTime=#{endTime}, offLimit=#{offLimit},
			coach=#{coach}, startDate=#{startDate}, endDate=#{endDate}
			WHERE classNum=#{classNum}
	</update>
	
	<delete id="deleteOn" parameterType="Integer">
		DELETE onClass WHERE classNum=#{classNum}
	</delete>
	
	<delete id="deleteOff" parameterType="Integer">
		DELETE offClass WHERE classNum=#{classNum}
	</delete>
	
	<delete id="deleteClass" parameterType="Integer">
		DELETE dietClass WHERE classNum=#{classNum}
	</delete>
	
	<!-- 
		프로그램관련 mapper
	 -->
	
	<delete id="deletepInClass" parameterType="Integer">
		DELETE pinClass WHERE classNum=#{classNum}
	</delete>
	
	<insert id="insertcProgram" parameterType="com.hotbody.dietClass.CProgram">
		INSERT INTO cProgram(programNum, programName, programContent, saveFileName, originalFileName) 
		VALUES(cprogram_seq.NEXTVAL, #{programName}, #{programContent}, #{saveFileName}, #{originalFileName})
	</insert>
	
	<select id="listcAllProgram" resultType="com.hotbody.dietClass.CProgram">
			SELECT programNum, programName, programContent, saveFileName, originalFileName 
			FROM cProgram
			ORDER BY programNum
	</select>
	
	<select id="listcProgram" resultType="com.hotbody.dietClass.CProgram" parameterType="map">
			SELECT * FROM(
				SELECT ROWNUM rnum, tb.* FROM(
					SELECT programNum, programName, programContent, saveFileName, originalFileName 
					FROM cProgram
					ORDER BY programNum DESC
				) tb WHERE ROWNUM &lt; = #{end}
			) WHERE rnum &gt; = #{start}
	</select>
	
	<select id="readcProgram" parameterType="Integer" resultType="com.hotbody.dietClass.CProgram">
		SELECT classNum, c.programNum, programName, programContent, saveFileName, originalFileName
		FROM cprogram c JOIN pinClass p ON c.programNum = p.programNum
		WHERE classNum = #{classNum}
	</select>
	
	<select id="programCount" resultType="Integer">
		SELECT NVL(COUNT(*),0) count FROM cprogram
	</select>
	
	<delete id="deletecProgram" parameterType="Integer">
		DELETE cProgram WHERE programNum=#{programNum}
	</delete>
	
	<delete id="deletepInClassByP" parameterType="Integer">
		DELETE pinClass WHERE programNum=#{programNum}
	</delete>
	
	<select id="readProgramInfo" parameterType="Integer" resultType="com.hotbody.dietClass.CProgram">
		SELECT programNum, programName, programContent, saveFileName, originalFileName
		FROM cProgram WHERE programNum=#{programNum}
	</select>
	
	<update id="updatecProgram" parameterType="com.hotbody.dietClass.CProgram">
		UPDATE cProgram SET programName=#{programName}, programContent=#{programContent}, saveFileName=#{saveFileName}, originalFileName=#{originalFileName}
		WHERE programNum=#{programNum}
	</update>
	
	<!-- 미션관련 -->
	<insert id="readyMission" parameterType="map">
		INSERT INTO mission(classNum, missday)
		VALUES(#{classNum}, #{missday})
	</insert>
	
	<delete id="deleteReadyMission" parameterType="map">
		DELETE mission WHERE classNum=#{classNum}
		<if test="onperiod!=null">
			AND missday &gt; #{onperiod}
		</if>
	</delete>
	
	<insert id="insertMission" parameterType="com.hotbody.dietClass.Mission">
		INSERT INTO miscontent(missionNum, missionContent, classNum, missDay, missIndex)
		VALUES(misContent_seq.NEXTVAL, #{missionContent}, #{classNum}, #{missDay}, #{missIndex})
	</insert>
	
	<select id="readMission" parameterType="map" resultType="com.hotbody.dietClass.Mission">
		SELECT missionNum, missionContent, missDay
		FROM misContent WHERE classNum=#{classNum} AND missDay=#{missDay} AND missionContent IS NOT NULL ORDER BY missIndex
	</select>
	
	<update id="updateMission" parameterType="com.hotbody.dietClass.Mission">
		UPDATE misContent SET missionContent = #{missionContent}
		WHERE classNum=#{classNum} AND missDay=#{missDay} AND missIndex=#{missIndex}
	</update>
	
	<delete id="deleteMission" parameterType="map">
		DELETE misContent WHERE classNum=#{classNum} 
		<if test="missDay!=null and missIndex!=null">
			AND missDay=#{missDay} AND missIndex=#{missIndex}
		</if>
	</delete>	
	
	<select id="haveMission" parameterType="com.hotbody.dietClass.Mission" resultType="Integer">
		SELECT COUNT(missionContent) FROM misContent
		WHERE classNum=#{classNum} AND missDay=#{missDay} AND missIndex=#{missIndex}
	</select>
</mapper>