<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="disuse">
	
	<insert id="insertDisuse" parameterType="com.hotbody.hotShop.disuse.Disuse">
		INSERT INTO productDis (pdDisCode, pdDisNum, pdDisDate, pdDisReason, pdDisAmt, pdNum) 
						VALUES (productDis_seq.NEXTVAL, #{pdDisNum}, sysdate, #{pdDisReason}, #{pdDisAmt}, #{pdNum})
	</insert>
	
	<select id="readDisuse" parameterType="map" resultType="com.hotbody.hotShop.disuse.Disuse">
		SELECT d.pdNum, d.pdDisCode, d.pdDisNum, d.pdDisDate, d.pdDisReason, d.pdDisAmt, l.pdName, l.pdStCount, i.pdRawPrice
		FROM productDis d
		LEFT OUTER JOIN productList l ON d.pdNum=l.pdNum
        LEFT OUTER JOIN productIn i ON l.pdNum=i.pdNum
		WHERE pdName=#{pdName}
	</select>
	
	
</mapper>