<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="milelage">

	<select id="selectMilelage" resultType="com.hotbody.milelage.Milelage"
		parameterType="String">

		select nvl(count(rnum),0) orderCount,sum(milelage) totalMilelage,nvl(sum(milelagePay),0) usedMilelage
		,(nvl(sum(milelage),0) - nvl(sum(milelagePay),0)) useableMilelage
		from(
		select rownum rnum,ml.milelage,o.milelagePay
		from milelage ml left outer join orders o
		on ml.delorder = o.delorder
		where o.userId=#{userId}
		)
	</select>
	
	
<select id="listMilelage" parameterType="map" resultType="com.hotbody.milelage.Milelage">
	
	 SELECT * FROM (
		SELECT ROWNUM rnum, tb.* FROM (
      select ml.milelage,o.TOTALPAY, TO_CHAR(tl.PAYDATE, 'YYYY-MM-DD') PAYDATE,pl.PDBOARDNAME,o.milelagePay
        from orders o
        left outer join totalordlist tl on o.delorder = tl.delorder
        left outer join cartlist ctl   on o.delorder = ctl.delorder
        left outer join productlist pl on ctl.pdnum = pl.pdnum
        left outer join pmainimg pm  on pm.pdnum = pl.pdnum
        left outer join milelage ml   on o.delorder = ml.delorder
        where
         o.userId=#{userId} and
        <![CDATA[
        TO_CHAR(tl.PAYDATE, 'YYYY-MM-DD') <= #{today} and  TO_CHAR(PAYDATE, 'YYYY-MM-DD')>= #{lastday}

		ORDER BY tl.PAYDATE DESC

	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	
	
	</select>
	
	
		<!-- 주문횟수 메세지로 이동예정-->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM msg
        where  userId =#{userId}
		<if test="userId2 != null and userId2 != ''">
				and userId2 = #{userId2}  
		</if>
		<if test="content != null and content != ''">
			and	INSTR(content, #{content}) &gt; 0
		</if>
		<if test="subject != null and subject != ''">
			and	INSTR(subject, #{subject}) &gt; 0 
		</if>
	</select>
	
	<select id="listMessage" parameterType="map" resultType="com.hotbody.milelage.Message">
	
	 SELECT * FROM (
		SELECT ROWNUM rnum, tb.* FROM (
      	select userId,userId2,subject,content
        from msg
        where  userId =#{userId} OR userId2 =#{userId} 
		<if test="userId2 != null and userId2 != ''">
				and userId2 = #{sender}  
		</if>
		<if test="content != null and content != ''">
			and	INSTR(content, #{content}) &gt; 0
		</if>
		<if test="subject != null and subject != ''">
			and	INSTR(subject, #{subject}) &gt; 0 
		</if>
        <![CDATA[
		ORDER BY SCREATED DESC

	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	
	
	</select>
	
	<select id="checkUserId2" resultType="Integer" parameterType="String">
		select NVL(count(userId),0) from member1 where userId=#{userId2}
	</select>
	
	
	
	<select id="mCode" resultType="Integer" parameterType="String">
		select mcode
		from msg
		where userId =#{userId}
	</select>
	
	<insert id="insertMessage" parameterType="com.hotbody.milelage.Message">
		insert into msg (mcode,content,screated,userId,userId2,subject)
		values(msg_seq.nextVal,#{content},sysdate,#{userId},#{userId2},#{subject})
	</insert>
	
	<insert id="insertFile" parameterType="com.hotbody.milelage.Message">
		insert into msgfile(filecode,ofilename,filename,filesize,mcode)
		values(filecode_seq.nextVal,#{originalFilename},#{saveFilename},#{fileSize},#{mCode})
	</insert>
	
	
		<!-- 주문횟수 메세지로 이동예정-->
	<select id="mDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM msg
        where  userId =#{userId} OR userId2 =#{userId}
		<if test="userId2 != null and userId2 != ''">
				and userId2 = #{sender}  
		</if>
		<if test="content != null and content != ''">
			and	INSTR(content, #{content}) &gt; 0
		</if>
		<if test="subject != null and subject != ''">
			and	INSTR(subject, #{subject}) &gt; 0 
		</if>
	</select>

</mapper>