<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fb">

<insert id="insertFB" parameterType="com.hotbody.mocofb.FB">
	INSERT INTO MOFRBOARD3 (moFBNum, moFBSubject, userId, moFBCreated, moFBContent,geNum)
		VALUES(mocofb_seq.NEXTVAL, #{moFBSubject}, #{userId}, SYSDATE, #{moFBContent} ,#{geNum})	
</insert>

	<sql id="where-list">
		<if test="searchKey=='moFBSubject'">
			INSTR(moFBSubject, #{searchValue})&gt; 0
		</if>
		<if test="searchKey=='moFBContent'">
			DBMS_LOB.INSTR(moFBContent, #{searchValue})  &gt; 0
		</if>
		<if test="searchKey=='moFBCreated'">
			TO_CHAR(moFBCreated, 'YYYY-MM-DD')=#{searchValue}
				OR TO_CHAR(moFBCreated,'YYYYMMDD')=#{searchValue}
		</if>
	
	</sql>

	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(moFBNum),0) FROM MOFRBOARD3
		<where>
			<if test="searchValue!= null and searchValue=''">
				<include refid="where-list" />
			</if>
			AND  geNum = #{mocoNum}
		</where>
	</select>

	
	<!-- 리스트 스타토! -->
	<select id="listFB" resultType="com.hotbody.mocofb.FB" parameterType="map">
		SELECT * FROM(
			SELECT ROWNUM rnum, tb.* FROM(
				SELECT moFBNum, userId, moFBSubject, moFBHit, 
				TO_CHAR(moFBCreated,'yyyy-mm-dd') moFBCreated
				FROM MOFRBOARD3 
				<where>
					<if test="searchValue != null and searchValue !=''">
						<include refid="where-list" />
					</if>
					AND  geNum = #{mocoNum}
				ORDER BY moFBNum DESC
				</where>
				<![CDATA[
					) tb WHERE ROWNUM <= #{end}
				) WHERE rnum >= #{start}
				]]>
	</select>
	
	
	<!-- 글보기 스타토 -->
	<select id="readFB" resultType="com.hotbody.mocofb.FB" parameterType="Integer">
		SELECT moFBNum, userId, moFBSubject, moFBContent, moFBHit, moFBCreated 
			FROM MOFRBOARD3 
			WHERE moFBNum = #{mocoNum}
	</select>
	
	<!-- 조회수 증가 스타토! -->
	<update id="hitCount" parameterType="Integer">
		UPDATE MOFRBOARD3 SET moFBHit = moFBHit+1 WHERE moFBNum = #{moFBNum}
	</update>
	
	<!-- 이전 글 -->
	<select id="preReadFB" resultType="com.hotbody.mocofb.FB">
		SELECT tb.* FROM (
			SELECT moFBNum, moFBSubject 
				FROM MOFRBOARD3 
				<where>
					<if test="searchValue != null and searchValue !=''">
						<include refid="where-list" />
					</if>
					<![CDATA[
						AND (moFBNum > #{moFBNum})
					]]>	
				</where>
			ORDER BY moFBNum ASC
		)tb WHERE ROWNUM = 1
	</select>
	
	<!-- 다음 글 -->
	<select id="nextReadFB" resultType="com.hotbody.mocofb.FB">
		SELECT tb.* FROM(
			SELECT moFBNum, moFBSubject FROM MOFRBOARD3
			<where>
				<if test="searchValue != null and searchValue !=''">
						<include refid="where-list" />
				</if>
			
			<![CDATA[
				AND (geNum < #{moFBNum})
			]]>
		</where>
		 ORDER BY moFBNum DESC
		)to WHERE ROWNUM =1
	</select>
	
	<!-- 수정 -->
	<update id="updateFB" parameterType="com.hotbody.mocofb.FB">
		UPDATE MOFRBOARD3 SET moFBSubject=#{moFBSubject}, moFBContent=#{moFBContent}, moFBFile=#{moFBFile}
		WHERE moFBNum = #{moFBNum} 
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteFB" parameterType="Integer">
		DELETE FROM MOFRBOARD3 WHERE moFBNum=#{moFBNum} 
	</delete>
	
	<!-- 댓글 -->
	<insert id="insertReply" parameterType="com.hotbody.mocofb.Reply">
		INSERT INTO TEMPORARY6 (FRCode, moFBNum, userId, moFBReply, FRCreated )
			VALUES (frCode_seq.NEXTVAL, #{moFBNum}, #{userId}, #{moFBReply}, SYSDATE )
	</insert>
	
	
	<!-- 리플 리스트 -->
   <select id="listReply" parameterType="map" resultType="com.hotbody.mocofb.Reply"  >
         SELECT * FROM (
         SELECT ROWNUM rnum, tb.* FROM (
            SELECT frCode, moFBNum, r.userId, moFBReply, FRCreated
         FROM TEMPORARY6 r
         JOIN member1 m ON r.userId = m.userId
         
         WHERE frCode=#{frCode}  
         ORDER BY moFBNum DESC
   <![CDATA[
         ) tb WHERE ROWNUM <= #{end}
      ) WHERE rnum >= #{start}   
   ]]>  
      </select>
	
</mapper>