<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myClass">

	<!-- 재료관련쿼리 -->
	<select id="insertIng" parameterType="com.hotbody.myclass.Ing">
		insert into ingredients(ingrerdientsNum,nutrient,ingredientsName,ingredientsUnit,
								calory,image,content,unit) values
								(ing_seq.nextval,#{nutrient}, #{ingredientsName}, #{ingredientsUnit},
								#{calory},#{image, jdbcType=VARCHAR},#{content},#{unit})
	</select>
	
	<!-- 검색조건.. -->
	<sql id="where-list">
	  <if test="searchKey=='ingredientsName'">
	      INSTR(ingredientsName, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='nutrient'">
	       INSTR(nutrient, #{searchValue}) &gt; 0
	  </if>
	</sql>
	
	<!-- 데이터갯수 -->
	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*),0) FROM ingredients
		<where>
			<if test="searchValue != null and searchValue !=''">  
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 리스트보여주기 -->
	<select id="listIng" resultType="com.hotbody.myclass.Ing" parameterType="map">
	 	SELECT * FROM (
	 		SELECT ROWNUM rnum, tb.* FROM (
				SELECT ingrerdientsNum, nutrient, ingredientsName, ingredientsUnit, calory,image,
					   content,unit
				FROM ingredients 
				<where>
					<if test="searchValue != null and searchValue !=''">
						<include refid="where-list"/>
					</if>
				</where>
				ORDER BY ingrerdientsNum DESC 
	 			) tb WHERE ROWNUM  &lt;= #{end}
	 	) WHERE rnum  &gt;= #{start}
	</select>
	
	<!-- 글보기 -->
	<select id="readIng" resultType="com.hotbody.myclass.Ing" parameterType="Integer">
		SELECT ingrerdientsNum, nutrient, ingredientsName, ingredientsUnit, calory, image,
			   content,unit
		FROM ingredients 
		WHERE ingrerdientsNum = #{ingrerdientsNum}
	</select>
	
	<!-- 이전글 -->
	<select id="preReadIng" resultType="com.hotbody.myclass.Ing" parameterType="map">
		SELECT tb.* FROM (
			SELECT ingrerdientsNum, image
			      FROM ingredients
                  <where>
                       <if test="searchValue != null and searchValue != '' ">
			                 <include refid="where-list"/>
		                </if>
		           <![CDATA[
		                AND (ingrerdientsNum > #{ingrerdientsNum})
		             ]]>
	              </where>
				ORDER BY ingrerdientsNum ASC
			) tb WHERE ROWNUM=1
	</select>

	<!-- 다음글 -->
	<select id="nextReadIng" resultType="com.hotbody.myclass.Ing" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT ingrerdientsNum, image
			       FROM ingredients     
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list"/>
		                 </if>
		               <![CDATA[
		                 AND (ingrerdientsNum < #{ingrerdientsNum})
		                 ]]>
	                </where>
				ORDER BY ingrerdientsNum DESC
			) tb WHERE ROWNUM=1
	</select>


     <!-- 수정 -->
     <update id="updateIng" parameterType="com.hotbody.myclass.Ing">
         UPDATE ingredients SET nutrient=#{nutrient}, ingredientsName=#{ingredientsName},
                     ingredientsUnit=#{ingredientsUnit}, content=#{content}, unit=#{unit},
                     calory=#{calory}, image=#{image, jdbcType=VARCHAR}
                    WHERE ingrerdientsNum = #{ingrerdientsNum}
      </update>

     
      <!-- 삭제 -->
      <delete id="deleteIng" parameterType="Integer">
            DELETE FROM ingredients WHERE ingrerdientsNum = #{ingrerdientsNum}
      </delete>
	
	
	
<!-- 운동관련쿼리 -->
	<select id="insertExercise" parameterType="com.hotbody.myclass.Exercise">
		insert into exerciseInfo(exerciseNum, exerciseType, exerciseName, unitTime,
								lossCal, video, pic, unit) 
								values(exercise_seq.nextval, #{exerciseType}, #{exerciseName}, #{unitTime},
								#{lossCal}, #{video, jdbcType=VARCHAR}, #{pic}, #{unit})
	</select>
	
	<!-- 운동분류가져오기 -->
	<select id="exerciseType" resultType="com.hotbody.myclass.ExerciseType">
		select exerciseType, typeName
		from execiseType
	</select>

	
	<sql id="where-list2">
	  <if test="searchKey=='exerciseName'">
	      INSTR(exerciseName, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='typeName'">
	       INSTR(typeName, #{searchValue}) &gt; 0
	  </if>
	</sql>
	
	
	<!-- 운동정보의 데이터갯수 -->
	<select id="dataCount2" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*),0)
		FROM exerciseInfo i
		join execiseType t on i.exerciseType = t.exerciseType
		<where>
			<if test="searchValue != null and searchValue !=''">  
				<include refid="where-list2"/>
			</if>
		</where>
	</select>
	
	
	<select id="listExercise" resultType="com.hotbody.myclass.Exercise" parameterType="map">
	 	SELECT * FROM (
	 		SELECT ROWNUM rnum, tb.* FROM (
				SELECT exerciseNum, i.exerciseType,typeName, exerciseName, unitTime, unit,lossCal,
					   video,pic
				FROM exerciseInfo i
                join execiseType t on i.exerciseType = t.exerciseType
				<where>
					<if test="searchValue != null and searchValue !=''">
						<include refid="where-list2"/>
					</if>
				</where>
				ORDER BY exerciseNum DESC 
	 			) tb WHERE ROWNUM  &lt;= #{end}
	 	) WHERE rnum  &gt;= #{start}
	</select>
	
	
	<select id="readExercise" resultType="com.hotbody.myclass.Exercise" parameterType="Integer">
		SELECT exerciseNum, exerciseType, exerciseName, unitTime, unit, lossCal,
			   video,pic
		FROM exerciseInfo 
		WHERE exerciseNum = #{exerciseNum}
	</select>
	
	
	<select id="preReadExercise" resultType="com.hotbody.myclass.Exercise" parameterType="map">
		SELECT tb.* FROM (
			SELECT exerciseNum, exerciseName
			      FROM exerciseInfo i
				  join execiseType t on i.exerciseType = t.exerciseType
                  <where>
                       <if test="searchValue != null and searchValue != '' ">
			                 <include refid="where-list2"/>
		                </if>
		           <![CDATA[
		                AND (exerciseNum > #{exerciseNum})
		             ]]>
	              </where>
				ORDER BY exerciseNum ASC
			) tb WHERE ROWNUM=1
	</select>

	
	<select id="nextReadExercise" resultType="com.hotbody.myclass.Exercise" 
				parameterType="map">
		SELECT tb.* FROM (
			SELECT exerciseNum, exerciseName
			      FROM exerciseInfo i
				  join execiseType t on i.exerciseType = t.exerciseType    
                    <where>
                         <if test="searchValue != null and searchValue != '' ">
			                  <include refid="where-list2"/>
		                 </if>
		               <![CDATA[
		                 AND (exerciseNum < #{exerciseNum})
		                 ]]>
	                </where>
				ORDER BY exerciseNum DESC
			) tb WHERE ROWNUM=1
	</select>


     
     <update id="updateExercise" parameterType="com.hotbody.myclass.Exercise">
         UPDATE exerciseInfo SET exerciseType=#{exerciseType}, exerciseName=#{exerciseName},
                     unitTime=#{unitTime}, unit=#{unit}, lossCal=#{lossCal},
                     video=#{video}, pic=#{pic, jdbcType=VARCHAR}
                    WHERE exerciseNum = #{exerciseNum}
      </update>

     
      
      <delete id="deleteExercise" parameterType="Integer">
            DELETE FROM exerciseInfo WHERE exerciseNum = #{exerciseNum}
      </delete>
	

</mapper>