<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

<!-- 글개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM orders o left outer join totalordlist tl
        on o.delorder = tl.delorder 
        where
		<!--   userId =#{userId} and-->
		<if test="lastday != null and lastday != ''">
				 tl.PAYDATE >=#{lastday}
		</if>
		
	</select>

	<!-- 글리스트 -->
	<select id="listOrder" parameterType="map" resultType="com.hotbody.order.Order">
	
	
	SELECT * FROM (
		SELECT ROWNUM rnum, tb.* FROM (
      select o.delorder,o.TOTALPAY,ds.DELSTATE,to_char(tl.PAYDATE,'yyyy-dd-mm') PAYDATE,ctl.AMOUNT,pl.PDBOARDNAME,pm.imgsavefilename
        from orders o left outer join delstate ds
        on o.delorder = ds.delorder
        left outer join totalordlist tl
        on o.delorder = tl.delorder
        left outer join cartlist ctl
        on o.delorder = ctl.delorder
        left outer join productlist pl
        on ctl.pdnum = pl.pdnum
        left outer join pmainimg pm  
        on pm.pdnum = pl.pdnum
        where
        <!-- o.userid=#{userid} and-->

			<if test="lastday != null and lastday != ''">
			<![CDATA[
				 tl.PAYDATE >=#{lastday}
				]]>
			</if>
			
		ORDER BY tl.PAYDATE DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>

</mapper>