<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<insert id="insertReview" parameterType="com.hotbody.hotShop.review.Review">
		INSERT INTO shReviews (reviewCode, userName, reviewContent, starScore, reviewCreated, reviewSubject, pdNum, userId)
					 VALUES (preview_seq.NEXTVAL, #{userName}, #{reviewContent}, #{starScore}, sysdate, #{reviewSubject}, #{pdNum}, #{userId})
	</insert>
	
	<sql id="where-list">
		<if test="searchKey == 'pdName'">
			INSTR(pdName, #{searchValue}) &gt; 0
		</if>
	</sql>
	
	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*), 0) FROM shReviews r LEFT OUTER JOIN productList p ON r.pdNum=p.pdNum
		<where>
			<if test="searchValue != null and searchValue != ''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="readReview" resultType="com.hotbody.hotShop.review.Review" parameterType="map">
		SELECT r.reviewCode, r.userName, r.reviewContent, r.starScore, r.reviewCreated, r.pdNum, p.pdName, r.userId, r.image 
		FROM shReviews r
		JOIN productList p 
		ON r.pdNum=p.pdNum
		WHERE reviewCode = #{reviewCode}
	</select>
	
	<select id="listReview" resultType="com.hotbody.hotShop.review.Review" parameterType="map">
		SELECT * FROM(
			SELECT ROWNUM rnum, tb.* FROM(
       			SELECT r.reviewCode, r.userName, r.reviewContent, r.starScore, r.reviewCreated, r.pdNum, p.pdName, r.userId, r.image,
       			       c.cNum, c.userId replyUserId, c.content replyContent, c.created replyCreated, c.userName replyUserName
				FROM shReviews r
				LEFT OUTER JOIN productList p ON r.pdNum=p.pdNum
				LEFT OUTER JOIN
				(
				      SELECT cNum, reviewCode, rr.userId, content, TO_CHAR(rr.created, 'YYYY-MM-DD') created ,userName
                      FROM ReComment rr 
                      JOIN member1 m1 ON rr.userId=m1.userId
				) c ON r.reviewCode=c.reviewCode
				
				<where>
					<if test="searchValue != null and searchValue != ''">
						pdName=#{searchValue}
					</if>
				</where>
				ORDER BY reviewCode DESC
     	<![CDATA[
    		) tb WHERE ROWNUM <= #{end}      
		) WHERE rnum >= #{start}
		]]>
	</select>
	
    <delete id="deleteReview" parameterType="Integer">
          DELETE FROM shReviews WHERE reviewCode = #{reviewCode}
    </delete>
	
	<insert id="insertReply" parameterType="com.hotbody.hotShop.review.Reply">
      		INSERT INTO ReComment(cNum, reviewCode, userId, content, created, CANSWER)
      			 VALUES(#{reviewCode}, #{reviewCode}, #{userId}, #{content}, sysdate, 0)
      </insert>
      
     <select id="replyDataCount" parameterType="map" resultType="Integer">
      		SELECT NVL(COUNT(*), 0) 
      		FROM ReComment 
      		WHERE reviewCode=#{reviewCode}
      </select>
      
       <select id="listReply" parameterType="map" resultType="com.hotbody.hotShop.review.Reply">
			SELECT cNum, reviewCode, m1.userId userId, content,
                    TO_CHAR(created, 'YYYY-MM-DD') created ,userName
                     FROM ReComment r 
                     JOIN member1 m1 ON r.userId=m1.userId
                     WHERE reviewCode=#{reviewCode} AND ROWNUM=1 ORDER BY cNum DESC
       </select>
      
      <delete id="deleteReply" parameterType="Integer">
      		DELETE FROM ReComment WHERE cNum=#{cNum}
      </delete>
	
</mapper>