<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="insertProductList" parameterType="com.hotbody.hotShop.board.HotShop">
		INSERT INTO 
		productList (pdNum,pdName,pdOrder,pdCreated,pdBoardName,pdContent,pdStCount) 
		values(product_seq.NEXTVAL,#{pdName},1,
				sysdate,#{pdName},#{content},0)
	</insert>
</mapper>