<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
<sql id="where-list">
   <if test="searchKey=='userId' ">
        userId=#{searchValue}
   </if>
   <if test="searchKey=='subject' ">
       INSTR(pdname, #{searchValue}) &gt; 0
   </if>
   <if test="searchKey=='content' ">
        INSTR(pdsumcontent, #{searchValue}) &gt; 0
   </if>
   <if test="searchKey=='created' ">
        TO_CHAR(pdcreated, 'YYYY-MM-DD')=#{searchValue}
			OR TO_CHAR(pdcreated, 'YYYYMMDD')=#{searchValue}
   </if>
</sql>
	<insert id="insertProductList" parameterType="com.hotbody.hotShop.board.HotShop">
		INSERT INTO 
		productList (pdNum,pdName,pdOrder,pdCreated,pdBoardName,pdContent,pdStCount,pdSumContent,scicode,bclcode,showandhide,milelage) 
		values(product_seq.NEXTVAL,#{pdName},1,
				sysdate,#{pdName},#{content},0,#{pdSumContent},#{scicode},#{bclcode},#{showandhide},#{milelage})
	</insert>
	<insert id="insertPmainImg" parameterType="com.hotbody.hotShop.board.HotShop">
	INSERT INTO 
		PmainImg (pmicode,pdNum,imgOriginalFilename,imgSaveFilename) 
		values(PMICODE_SEQ.NEXTVAL,#{pdnum},#{imgOriginalFilename},#{imgSaveFilename})
	</insert>
	<insert id="insertTemporary" parameterType="com.hotbody.hotShop.board.HotShop">
	INSERT INTO 
		Temporary (pdnum,pdPrice,pdNutrient,pdArea,pdStMethod,pdType,pdRawName) 
		values(#{pdnum},#{pdPrice},#{pdNutrient},#{pdArea},#{pdStMethod},#{pdType},#{pdRawName})
	</insert>
	<insert id="insertSchedule" parameterType="com.hotbody.hotShop.board.Schedule">
	INSERT INTO 
		schedule (sdCode,sdName,StartDate,EndDate,startTime,endTime,color)
		 values (schedule_seq.NEXTVAL,#{name},#{startdate},#{enddate},#{starttime},#{endtime},#{color})
	</insert>
	<insert id="insertSupply" parameterType="com.hotbody.hotShop.board.Supply">
		INSERT INTO productIn (pdincode,pdrawprice,pdinnum,pdexdate,pdindate,pdnum,supplycode) 
		 values(pdin_seq.NEXTVAL,#{pdrawprice},#{pdinnum},#{pdexdate},sysdate,#{pdnum},#{supplycode})
	</insert>
	<insert id="insertPayment" parameterType="com.hotbody.hotShop.board.Payment">
		INSERT INTO ORDERS (delOrder,cartDate,totalPay,userId,milelagePay) 
			VALUES(orders_seq.NEXTVAL,sysdate,#{totalPay},#{userId},#{milelagePay})
	</insert>
	<insert id="insertCartList" parameterType="com.hotbody.hotShop.board.Payment">
		INSERT INTO CARTLIST (cartOrder,delOrder,classNum,amount,pdnum) 
			VALUES(cartList_seq.NEXTVAL,#{delOrder},#{classNum, jdbcType=VARCHAR},#{amount_one},#{pdnum_one})
	</insert>
	<insert id="insertPayInfo" parameterType="com.hotbody.hotShop.board.Payment">
		INSERT INTO PAYINFO (delOrder,takerName,zip,takerAddr1,takerAddr2,takerTel,takerPhone,memo) 
			VALUES(#{delOrder},#{takerName},#{postNum},#{takerAddr1},#{takerAddr2},#{takerTel, jdbcType=VARCHAR},#{takerPhone},#{memo, jdbcType=VARCHAR})
	</insert>
	<insert id="isnertTotalOrdList" parameterType="com.hotbody.hotShop.board.Payment">
		INSERT INTO TotalOrdList (delorder,paydate) VALUES (#{delOrder},sysdate)
	</insert>
	<insert id="insertBcl" parameterType="map">
		INSERT INTO bcl (bclcode,name) values (bci_seq.NEXTVAL,#{bci})
	</insert>
	<insert id="insertSci" parameterType="map">
		INSERT INTO sci (scicode,name) values(sci_seq.NEXTVAL,#{scl})
	</insert>
	<insert id="insertProductDis" parameterType="com.hotbody.hotShop.board.ProductDis">
	INSERT INTO productDis (pdDisCode,pdDisNum,pdDisDate,pdDisReason,pdDisAmt,pdnum) VALUES(PRODUCTDIS_SEQ.Nextval,#{pdDisNum},sysdate,#{pdDisReason},#{pdDisAmt},#{pdnum})
	</insert>
	<select id="readRealChartTotalPay" parameterType="String" resultType="Integer">
			SELECT SUM(totalPay) FROM orders o JOIN totalORDList tol ON o.delorder=tol.delorder WHERE TO_CHAR(payDate,'YYYY-MM')=${checkDate} GROUP BY TO_CHAR(payDate,'YYYY-MM')
	</select>
	<select id="readRealChartPdDisAmt" parameterType="String" resultType="Integer">
			SELECT SUM(pdDisAmt) FROM productDis WHERE TO_CHAR(pdDisdate,'YYYY-MM')=${checkDate}  GROUP BY TO_CHAR(pdDisdate,'YYYY-MM')
	</select>
	<select id="readRealChartPdInAmt" parameterType="String" resultType="Integer">
			SELECT SUM(pdrawprice) FROM productIn WHERE TO_CHAR(pdindate,'YYYY-MM')=${checkDate}  GROUP BY TO_CHAR(pdindate,'YYYY-MM')
	</select>
	<select id="readDelOrder" parameterType="String" resultType="Integer">
	SELECT MAX(delOrder) delOrder
		FROM ORDERS WHERE userId=#{userId}
	</select>
	<select id="readDelOrderProduct" parameterType="Integer" resultType="com.hotbody.hotShop.board.Payment">
	SELECT amount amount_one, cl.pdnum pdnum_one, pdname, pdPrice, imgSaveFilename, rownum FROM cartList cl 
    JOIN productList pl ON cl.pdnum=pl.pdnum 
    JOIN Temporary t ON cl.pdnum=t.pdnum
    JOIN pmainimg pm ON cl.pdnum=pm.pdnum
    WHERE delOrder=#{delOrder}
	</select>
	<select id="bclSelect" resultType="com.hotbody.hotShop.main.HotBodyMenu">
		SELECT bclcode, name bclname FROM bcl
	</select>
	
	<select id="sciSelect" resultType="com.hotbody.hotShop.main.HotBodyMenu">
		SELECT scicode, name sciname FROM sci WHERE scicode>26
	</select>
	
	<select id="pdInDataCount" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM productin
	</select>
	<select id="pdDisDataCount" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM productDis
	</select>
	<select id="pdListDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM productList
		<where>
			<if test="cl=='bcl'">
				bclcode=#{code}
			</if>
			<if test="cl=='sci'">
				scicode=#{code}
			</if>
			<if test="searchValue != null and searchValue !=''">
				<include refid="where-list"/>
			</if>
				AND showandhide!=0
		</where>
	</select>
	<select id="readProductNum" parameterType="String" resultType="Integer">
	SELECT pdnum FROM productList WHERE pdName=#{pdName}
	</select>
	<select id="productList" parameterType="map" resultType="com.hotbody.hotShop.board.HotShop">
	SELECT p.pdnum pdnum, imgOriginalFilename, imgSaveFilename, pdName,
			 pdSumContent, pdPrice, pdcontent content,
			pdNutrient, pdStMethod, pdType, pdRawName, pdArea,milelage,
			 pdDelRule, pdCreated, pdstCount, (SELECT MIN(TO_CHAR(pdExDate,'YYYY-MM-DD')) FROM productin) pdExDate, showandhide
				FROM productList p 
				Left OUTER Join Temporary t ON p.pdnum=t.pdnum 
				Left OUTER JOIN Temporary2 t2 ON p.pdnum=t2.pdnum 
				Left OUTER JOIN pmainimg pi ON p.pdnum=pi.pdnum 
				<where>
					<if test="listOrArticle!=0">
						 p.pdnum=#{pdnum}
					</if>
					<if test="cl=='bcl'">
						 bclcode=#{code}
					</if>
					<if test="cl=='sci'">
						 scicode=#{code}
					</if>
					<if test="searchValue != null and searchValue !=''">
						<include refid="where-list"/>
					</if>
					<choose>
						<when test="newProduct=='newProduct'">
							And pdcreated>pdcreated-30
						</when>
					</choose>
					<if test="userId != 'admin'">
					 And showandhide!=0
					</if>
				</where>
				
				ORDER BY 
		<choose>
        	<when test="formal=='created'">
        		pdCreated
        	</when>
        	<when test="formal=='hitCount'">
        		hitCount
        	</when>
        	<when test="formal=='star'">
        		hitCount
        	</when>
        	<otherwise>
        		p.pdcreated
        	</otherwise>
        </choose>
        <choose>
        	<when test="order=='asc'">
        		 asc
        	</when>
        	<otherwise>
        		 DESC
        	</otherwise>
        </choose>
	</select>
	<select id="readPdStarScore" parameterType="Integer" resultType="Integer">
		 SELECT ROUND(AVG(starscore), 0) starScore FROM shreviews WHERE pdnum=#{pdnum} GROUP BY pdnum
	</select>
	<select id="readPdRawPrice" parameterType="Integer" resultType="Integer">
		SELECT pdrawprice FROM productin WHERE pdindate=(SELECT pdindate FROM (select max(pdindate) pdindate,pdnum
		from productin
		group by pdnum) pi WHERE pdnum=#{pdnum})
	</select>
	<select id="readProductIn" parameterType="map" resultType="com.hotbody.hotShop.board.ProductIn">
		SELECT * FROM (SELECT ROWNUM rnum, pdin.* FROM (SELECT pdincode,pdrawprice,pdinnum,TO_CHAR(pdexdate, 'YYYY-MM-DD') pdexdate,TO_CHAR(pdindate, 'YYYY-MM-DD') pdindate,pi.pdnum pdnum,pl.pdname pdname,pi.supplycode,supplyname,imgSaveFilename,milelage
		FROM productin pi 
		JOIN productList pl ON pi.pdnum=pl.pdnum 
        JOIN supply s ON pi.supplycode=s.supplycode
        LEFT OUTER JOIN pmainimg pimg ON pl.pdnum = pimg.pdnum 
        <where>
        	<if test="startDate!=''">
        	 TO_CHAR(pdindate, 'YYYY-MM-DD')&gt;=#{startDate} AND TO_CHAR(pdindate, 'YYYY-MM-DD')&lt;=#{endDate}
        	</if>
        	<if test="startDate!=''">
        		<if test="colum=='pdexdate'">
	        	 TO_CHAR(pdexdate, 'YYYY-MM-DD')&gt;=#{startDate} AND TO_CHAR(pdexdate, 'YYYY-MM-DD')&lt;=#{endDate}    		
        		</if>
        	</if>
        </where>
         ORDER BY 
        <choose>
        	<when test="colum=='pdexdate'">
        		pdexdate
        	</when>
        	<otherwise>
        		pdincode
        	</otherwise>
        </choose>
        <choose>
        	<when test="order=='asc'">
        		 asc
        	</when>
        	<otherwise>
        		 DESC
        	</otherwise>
        </choose>) pdin WHERE ROWNUM&lt;=#{end})
         WHERE rnum&gt;=#{start}
	</select>
	<select id="readProductDis" parameterType="map" resultType="com.hotbody.hotShop.board.ProductDis">
		SELECT * FROM (SELECT ROWNUM rnum, pddis.* FROM (SELECT pdDisCode,pdrawprice,pdDisNum,TO_CHAR(pdexdate, 'YYYY-MM-DD') pdexdate,TO_CHAR(pdDisDate, 'YYYY-MM-DD') pdDisDate,pdDisReason,pdDisAmt,pi.pdnum pdnum,pl.pdname pdname,pi.supplycode,supplyname,imgSaveFilename
		FROM productDis pd 
		JOIN productList pl ON pd.pdnum=pl.pdnum 
        JOIN productIn pi ON pi.pdnum=pl.pdnum
        JOIN supply s ON pi.supplycode=s.supplycode
        LEFT OUTER JOIN pmainimg pimg ON pl.pdnum = pimg.pdnum 
        <where>
        	<choose>
        		<when test="startDate!=''">
        			TO_CHAR(pdDisdate, 'YYYY-MM-DD')&gt;=#{startDate} AND TO_CHAR(pdDisdate, 'YYYY-MM-DD')&lt;=#{endDate}
        		</when>
        		<when test="startDate!=''">
	        		<if test="colum=='pdexdate'">
		        	 TO_CHAR(pdexdate, 'YYYY-MM-DD')&gt;=#{startDate} AND TO_CHAR(pdexdate, 'YYYY-MM-DD')&lt;=#{endDate}    		
	        		</if>
        		</when>
        	</choose>
        </where>
         ORDER BY 
        <choose>
        	<when test="colum=='pdexdate'">
        		pdexdate
        	</when>
        	<otherwise>
        		pdDisCode
        	</otherwise>
        </choose>
        <choose>
        	<when test="order=='asc'">
        		 asc
        	</when>
        	<otherwise>
        		 DESC
        	</otherwise>
        </choose>) pddis WHERE ROWNUM&lt;=#{end})
         WHERE rnum&gt;=#{start}
	</select>
	<update id="productListUpdate" parameterType="com.hotbody.hotShop.board.HotShop">
	UPDATE productList 
	SET  
	pdname=#{pdName},
	pdContent=#{content},
	pdSumContent=#{pdSumContent},
	bslcode=#{bclcode},
	scicode=#{scicode}
	 WHERE pdnum=#{pdnum}
	</update>
	<update id="productInStCount" parameterType="com.hotbody.hotShop.board.ProductIn">
	UPDATE productList 
	SET  
	pdStCount=pdStCount+#{pdinnum}
	 WHERE pdnum=#{pdnum}
	</update>
	<update id="productDisStCount" parameterType="com.hotbody.hotShop.board.ProductDis">
	UPDATE productList 
	SET  
	pdStCount=pdStCount-#{pdDisNum}
	 WHERE pdnum=#{pdnum}
	</update>
	<update id="PmainImgUpdate" parameterType="com.hotbody.hotShop.board.HotShop">
	UPDATE PmainImg 
	SET 
	imgOriginalFilename=#{imgOriginalFilename},
	imgSaveFilename=#{imgSaveFilename}
	
	 WHERE pdnum=#{pdnum}
	</update>
	<update id="TemporaryUpdate" parameterType="com.hotbody.hotShop.board.HotShop">
	UPDATE Temporary 
	SET 
	pdPrice=#{pdPrice},
	pdNutrient=#{pdNutrient},
	pdArea=#{pdArea},
	pdStMethod=#{pdStMethod},
	pdType=#{pdType},
	pdRawName=#{pdRawName}
	WHERE pdnum=#{pdnum}
	</update>
	<update id="updateHitCount" parameterType="Integer">
		UPDATE productList SET hitCount=hitCount+1 WHERE pdnum=#{pdnum}
	</update>
	<update id="showUpdate" parameterType="Integer">
		UPDATE productList SET showAndHide=1 WHERE pdnum=#{code}
	</update>
	<update id="hideUpdate" parameterType="Integer">
		UPDATE productList SET showAndHide=0 WHERE pdnum=#{code}
	</update>
	<insert id="insertMilelage" parameterType="com.hotbody.hotShop.board.Payment">
	INSERT INTO milelage(milelage,userId,delOrder)VALUES(#{milelage},#{userId},#{delOrder})
	</insert>
	<select id="supplyList" resultType="com.hotbody.hotShop.board.Supply">
		SELECT supplycode, supplyname, supplytel, supplypd
		FROM supply
	</select>
	<delete id="deleteBciMenu" parameterType="Integer">
		DELETE FROM bcl WHERE bclcode=#{code}
	</delete>
	<delete id="deleteSclMenu" parameterType="Integer">
		DELETE FROM sci WHERE scicode=#{code}
	</delete>
</mapper>