<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey">
	<select id="qSeq" resultType="Integer">
		SELECT survey_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertSurvey" parameterType="com.hotbody.survey.Survey">
		INSERT INTO survey(questionCode, questionOrder, sOrO, questionType, questionContent)
		VALUES(#{questionCode}, #{questionOrder}, #{soro}, #{questionType, jdbcType=VARCHAR}, #{questionContent})
	</insert>
	
	<insert id="insertEx" parameterType="com.hotbody.survey.Survey">
		INSERT INTO surveyEx(questionCode, exOrder, exContent, exScore)
		VALUES(#{questionCode}, #{exOrder}, #{exContent}, #{exScore})
	</insert>
	
	<select id="listSurvey" resultType="com.hotbody.survey.Survey">
		SELECT questionCode, questionContent, questionOrder, questionType, sOrO
		FROM survey
		ORDER BY questionOrder
	</select>

	<update id="updateOrder" parameterType="map">
		UPDATE survey SET questionOrder=#{questionOrder} WHERE questionCode=#{questionCode}
	</update>
	
	<select id="readEx" resultType="com.hotbody.survey.Survey">
		SELECT questionCode, exOrder, exContent, exScore
		FROM surveyEx
		ORDER BY exOrder
	</select>
	
	<select id="surveyCount" resultType="Integer">
		SELECT COUNT(*) FROM survey
	</select>
	
	<select id="readSurvey" parameterType="Integer" resultType="com.hotbody.survey.Survey">
		SELECT questionCode, questionContent, questionOrder, questionType, soro
		FROM survey 
	    WHERE questionOrder = #{questionOrder}	
	</select>
	
	<delete id="deleteSurvey" parameterType="Integer">
		DELETE survey WHERE questionCode = #{questionCode}
	</delete>
	
	<delete id="deleteEx" parameterType="Integer">
		DELETE surveyEx WHERE questionCode = #{questionCode}
	</delete>
	
	<delete id="deleteSurveyResult" parameterType="Integer">
		DELETE surveyDetails WHERE questionCode = #{questionCode}
	</delete>
	
	<insert id="insertResult" parameterType="com.hotbody.survey.Survey">
		INSERT INTO surveyDetails(resultNum, questionCode, questionAnswer, userId)
		VALUES(surveyResult_seq.NEXTVAL, #{questionCode}, #{questionAnswer}, #{userId, jdbcType=VARCHAR})
	</insert>
	
	<select id="readResult" resultType="com.hotbody.survey.Survey" parameterType="String">
		SELECT s.questionCode, questionanswer, userId, questiontype, soro
		FROM survey s JOIN surveydetails d 
		ON s.questioncode=d.questioncode
		<if test="userId = null">
			WHERE userId IS NULL
		</if>
		<if test="userId != null">
			WHERE userId=#{userID}
		</if>
	</select>
	
	<select id="matchEx" resultType="Integer" parameterType="map">
	SELECT exscore
	FROM survey s
	LEFT OUTER JOIN surveyEx e ON s.questioncode=e.questioncode
	WHERE s.questioncode=#{questioncode} AND exOrder=#{exOrder}
	</select>
	
	<delete id="deleteResult" parameterType="String">
		DELETE surveyDetails
		<if test="userId = null">
			WHERE userId IS NULL
		</if>
		<if test="userId != null">
			WHERE userId=#{userID}
		</if>
	</delete>
	
</mapper>