@charset "UTF-8";
.nav li > a{
   color: black; 
   height: 60px; 
   padding-top: 19px;
   width: 150px; 
   text-align: center; 
   font-weight: bold; 
   font-size: 16px;
}

.container{
  min-width: 1140px;
  text-align: center;
}
ul.list{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   list-style:none;
}
li.list{
   height: 460px;
   padding: 20px;
   float: left;
}

li.aspect{
	padding: 25px;
}
.btn_Side li{
	list-style: none;
}

.aspect { width: 300px; height: 400px; }

.menu li{
	padding-left: 60px;
}
.menuEx{
	width:120px;
	
	text-align: center; 
	font-weight: bold;
	font-size: 14px;
}
.menuEx ul li:hover{
	background: #eeeeee;
	cursor: pointer;                                 
}
.menuEx ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menuEx ul li{
	padding: 8px;                        
	text-align: center;
}
#scroll {
	text-align:center;
    position:relative;
    width: 100%;                               
    height: 350px;
    overflow: hidden;
}
#scrollContainer {
    position:relative;
    top: 0;
    left: 0;
}
#scrollContainer ul {
    padding: 0;
    margin: 0;
}
#scrollContainer li {
    float: left;
    list-style: none;
    width: 350px;
    height: 350px;
    display: block;
}
a:hover {
  text-decoration: none;
}